/*  Waybar Nord config by NelloKudo.
    Made for Hyprland, might work on Sway after some messing, too. */

* {
    border: none;
    border-radius: 10px;
    font-family: "JetBrains Mono Nerd Font";
    font-weight: bold;
    font-size: 14px;
    min-height: 0;
}

/* Workspaces buttons config */

#workspaces button {
    color: #b48ead;
    margin-right: 5px;
    padding-right: 0px;
    padding-left: 0px;
}

#workspaces button.active {
    color: #ebcb8b;
}

#workspaces button:not(.active):not(.empty) {
    color: #88c0d0;
}

#workspaces button.urgent {
    color: #f38ba8;
}

window#waybar {
    background: #2e333f;
    /* background: rgba(255, 255, 255, 0); if you don't want the bar*/
    color: #cdd6f4;
    border-radius: 12px;
}

/* General settings */

#workspaces,
#cpu,
#memory,
#pulseaudio,
#disk,
#clock,
#tray,
#custom-sep,
#custom-weather,
#custom-media
{
    background: #2d343e;
    opacity: 1.0;
    padding: 1.5px 7px 1.5px 7px;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 13px;
    margin-right: 5px;
    margin-left: 5px;
}

/* Specific modules config */

#cpu {
    color: #f0ffff;
    border-radius: 13px 0px 0px 13px;
    padding-left:10px;
    margin-right:0px;
    margin-left: 0px;
}

#custom-sep {
    border-radius: 0px 0px 0px 0px;
    margin-left: 0px;
    margin-right: 0px;
}

#memory {
    color: #f0ffff;
    border-radius: 0px 0px 0px 0px;
    margin-left: 0px;
    margin-right:0px;
}

#disk {
    color: #f0ffff;
    border-radius: 0px 13px 13px 0px;
    margin-left: 0px;
}

#workspaces {
    background: #2e3440;
    border-radius: 13px;
    margin-left: 5px;
    padding-right: 0px;
}

#window {
    border-radius: 7px;
    margin-left: 60px;
    margin-right: 60px;
}

#tray {
    border-radius: 13px 0px 0px 13px;
    margin-right: 0px;
    margin-left: 0px;
}

#pulseaudio {
    color: #f0ffff;
    border-radius: 0px 0px 0px 0px;
    margin-right: 0px;
    margin-left: 0px;
}

#clock {
    color: #f0ffff;
    border-radius: 0px 13px 13px 0px;
    margin-right: 0px;
    margin-left: 0px;
}

#custom-launcher
{
    color:#f0ffff;
    background: #81a1c1;
    padding-right: 15px;
    font-size: 17px;
    padding-left: 12px;
    border-radius: 5px;
    margin-top: 7.5px;
    margin-bottom: 7.5px;
}

#custom-powermenu
{
    color:#f0ffff;
    background: #81a1c1;
    padding-right: 17px;
    font-size: 14px;
    padding-left: 12px;
    border-radius: 5px;
    margin-top: 7.5px;
    margin-bottom: 7.5px;
}

#custom-weather {
    color: #f0ffff;
    margin-right: 0px;
    margin-left: 0px;
}

#custom-media {
    color: #f0ffff;
    margin-right: 0px;
    margin-left: 0px;
}
